@model Post
@{
	var categories = ViewBag.Categories as List<PostCategory>;
	var category = ViewBag.category as PostCategory;
	var otherPosts = ViewBag.otherPosts as List<Post>;
}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a class="text-decoration-none" asp-controller='ViewPost' asp-action='Index' asp-route-categorySlug="">Tất cả</a></li>
		@if (category != null)
		{
			var li = category.ListParents();
			foreach (var c in li)
			{
				<li class="breadcrumb-item">
					<a class="text-decoration-none" asp-action="Index" asp-route-categorySlug="@c.Slug">@c.Title</a>
				</li>
			}
			<li class="breadcrumb-item">
				<a class="text-decoration-none" asp-action="Index" asp-route-categorySlug="@category.Slug">@category.Title</a>
			</li>
		}
	</ol>
</nav>

<div class="detailpost">
	<h1>@Model.Title</h1>
	<div>
		@Model.Description
	</div>
	<div>
		<i>Cập nhật: @Model.DateUpdated</i>
		Tác giả: <strong>@Model.Author.UserName</strong>
	</div>
	<hr />

	@Html.Raw(Model.Content)
</div>


@section Sidebar{
	@await Component.InvokeAsync("_06_MvcWeb.Components.PostCategorySidebar",new _06_MvcWeb.Components.PostCategorySidebar.CategorySidebarData{
		Categories=categories,
		level=0,
		categorySlug=category.Slug
	})

	<ul class="list-group">
		@foreach(var post in otherPosts)
		{
			<li class="list-group-item">
				<a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
					@post.Title
				</a>
			</li>
		}
	</ul>
}